# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Chess/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.recipe
*.ilk
*.log
*.pdb
*.lastbuildstate
*.tlog
Debug/Chess.vcxproj.FileListAbsolute.txt
Debug/vc142.idb
x64/Debug/vc142.idb
x64/Debug/Chess.vcxproj.FileListAbsolute.txt
.vs/Chess/FileContentIndex/ab4ccf61-6be7-4026-9840-d33a43549850.vsidx
.vs/Chess/FileContentIndex/read.lock
.vs/Chess/v17/.suo
x64/Debug/vc143.idb
